* {
  box-sizing: border-box;
}
.background {
  background-image: url(background.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  filter: blur(5px);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  z-index: -1;
}

.betMenu {
  position: fixed;
  bottom: 5%;
  right: 5rem;
  text-align: center;
}

.betInput {
  height: 80px;
  width: 300px;
  text-align: center;
  font-size: 20pt;
  border-style: solid;
  border-width: 8px;
  border-color: darkred;
  border-radius: 10px;
}

.buttonWrapper {
  padding-top: 10px;
  margin-bottom: 10px;
}

.bankCredit {
  color: white;
  text-align: center;
}

.stay {
  width: 100px;
  height: 50px;
  border-style: solid;
  border-width: 8px;
  border-color: darkred;
  border-radius: 50px;
}

.stay:hover {
  width: 100px;
  height: 50px;
  border-style: solid;
  border-width: 8px;
  border-color: darkgray;
  border-radius: 50px;
}

.hit {
  width: 100px;
  height: 50px;
  border-style: solid;
  border-width: 8px;
  border-color: darkred;
  border-radius: 50px;
}

.hit:hover {
  width: 100px;
  height: 50px;
  border-style: solid;
  border-width: 8px;
  border-color: black;
  border-radius: 50px;
}

.signup {
  position: fixed;
  bottom: 20%;
  right: 42%;
  text-align: center;
}

.signup_input {
  height: 65px;
  width: 300px;
  text-align: center;
  font-size: 20pt;
  border-style: solid;
  border-width: 8px;
  border-color: darkred;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.signin {
  position: fixed;
  bottom: 20%;
  right: 42%;
  text-align: center;
}

.signin_input {
  height: 65px;
  width: 300px;
  text-align: center;
  font-size: 20pt;
  border-style: solid;
  border-width: 8px;
  border-color: darkred;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.navMenu {
  position: fixed;
  text-align: left;
  right: 2rem;
  font-size: 1.2rem;
}

ul.navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a:link, a:visited, a:active {
  text-decoration: none!important;
  color: white;
}

a:hover {
  color: darkred;
}
